
.List {
    text-align: center;
}

.List h2 {
    text-align: start;
    margin: 20px;
}

.List h3 {
    text-align: center;
    margin: 20px;
}

.Actions {
    display: flex;
    text-align: start;
    justify-content: space-between;
    margin: 20px;
}

.Actions form {
    margin-right: 50px;
}

.List {
    width: 100%;
}

.Item {
    margin: 20px;
}

.Page {
    padding-left: 20px;
}

.Forms {
    margin: 20px;

}

.Forms label {
    width: 150px;
    justify-content: start;
    margin: 5px;

}

.Forms input {
    width: 300px;
    justify-content: start;
    margin: 5px;

}

.Forms Button {
    width: 10%;
    justify-content: start;
    margin: 8px;

}

.Forms Select {
    width: 300px;
    justify-content: start;
    margin: 5px;

}

.Forms Form {

    justify-content: start;
    margin: 5px;
}

.CustomersEdit {
    margin: 5 px;
}

.Varoitusteksti label{
    color: red;
    width: 350px;
}

.Details {
    max-width: 70%;
    margin-left: 15%;
    background-color: orange;
    border-color: orangered;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin-top: 1%;
  }
  
  .Details Button {
    margin: 10px;
  }


